<ion-view title="Chat">
	
	<style type="text/css">
		.chatHeader {
			position:absolute;
			top:45px;
			width:100%;
		}
		
		.chatMessages {
			top:160px;
			bottom:130px;
		}
		
		.chatFooter {
			position:absolute;
			bottom:0;
			text-align:center;
			width:100%;
			height:130px;
		}
		
		.messagesRemaining {
			text-align: center;
		}
		
		.myMessage {
			background-color: #11c1f3; 
			padding:3px;
		}
		
		.partnerMessage {
			background-color: #33cd5f;
			padding:3px;
		}
	</style>
	
	<div class="chatHeader">
		<form class="list">
			<ion-toggle ng-model="isHumanProperties.ai_guess" toggle-class="toggle-positive">This is an AI</ion-toggle>
		</form>
		
		<h3 class="messagesRemaining">Messages Remaining: {{messagesRemaining}}</h3>
	</div>
	
    <ion-content class="chatMessages" overflow-scroll="true" padding="true" class="has-header">
        
            <div class="item item-body">
                <div ng-repeat="message in messages" ng-class="getColor(message)" class="list card">
                    <div class="item item-body">
                        <div>
                            <p>{{message.text}}</p>
                        </div>
                    </div>
                </div>
            </div>
    </ion-content>
	
	
	<div class="chatFooter">
		<form class="list">
			<label class="item item-input">
				<span class="input-label">Message</span>
				<textarea ng-model="newMessageText" placeholder="hello"></textarea>
			</label>
		</form>
		<form class="list">
			<button ng-click="sendMessage(newMessageText)" class="button button-positive button-block ">Send</button>
		</form>
	</div>
		
</ion-view>

<script id="textModal.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar>
            <h1 class="title">Returning to Home</h1>
        </ion-header-bar>
        <ion-content>
            <div class="card">
                {{modalText}}
                <button ng-click="closeModal()" class="button button-positive button-block">Okay</button>
            </div>
        </ion-content>
    </ion-modal-view>
</script>