<ion-view title="Turing Chat">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <a href="#/waiting" class="button button-balanced button-block ">New Chat</a>
        <ion-list>
        <div class="list card">
            <div class="item item-divider">Score</div>
            <div class="item item-body">
                <h1>Yours: {{userInfo.score}}</h1>
                <h1>High: {{bestStats.score}}</h1>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Number Correct</div>
            <div class="item item-body">
                <h1>Yours: {{userInfo.num_correct}}</h1>
                <h1>High: {{bestStats.num_correct}}</h1>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Number Incorrect</div>
            <div class="item item-body">
                <h1>Yours: {{userInfo.num_incorrect}}</h1>
                <h1>Low: {{bestStats.num_incorrect}}</h1>
            </div>
        </div>
		</ion-list>
    </ion-content>
</ion-view>